In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(8)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=75)

In [ ]:
classA_ages.mean()

47.32

In [ ]:
_,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [ ]:
p_value

9.853481333823542e-14

In [ ]:
school_ages.mean()

52.925333333333334

In [ ]:
if p_value < 0.05:         #Alpha value = 0.05 OR 5%
  print("Accepting null hypothesis")  #Difference in age
else:
  print("Rejecting null hypothesis")  #No difference in age

Accepting null hypothesis

Hence it is concluded that we are accepting the null hypothesis